* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}